PIN=1234
COOKIE_SECRET=change-me-to-a-random-string
# The public URL where the app will be hosted. Set to http://<local-ip>:<port> for local development.
PUBLIC_URL=https://pool-trainer.pixagreat.com
